%h1 Увійти

- if flash[:alert]
	.notice= flash[:alert]

= form_for(:user, url: sessions_path) do |f|
	%div.field
		= f.label :login, "Логін"
		%br
		= f.text_field :login
	%p

	%div.field
		= f.label :password, "Пароль"
		%br
		= f.password_field :password

	%div.actions 
		= f.submit "Вхід"
