
%h1 Енциклопедія
:javascript
  // document.addEventListener("DOMContentLoaded", function(){ CollapsibleLists.apply();});
  $(document).ready(function() { CollapsibleLists.apply();});
%ul.collapsibleList
  - Profession.all.each do |p| 
    %li
      %h2{:style => "margin-left: 20px;"}= p.profession_name
      %ul
        %li
          %h3 Загальна інформація
          %p= p.summary_statement
        %li
          %h3 Місія
          %p= p.mission
        %li
          %h3 Компетенції
          %ul
            - p.competences.each do |c| 
              %li
                %h4.compet_name= c.name
                %ul
                  %li
                    %h4.compet_pars Знання
                    %ul
                      %li
                        - c.knowledges.each do |k| 
                          %p.compet_pars_content= k.description 
                          
                  %li
                    %h4.compet_pars Уміння
                    %ul
                      %li
                        - c.attainments.each do |a| 
                          %p.compet_pars_content= a.description

                  %li
                    %h4.compet_pars Навички
                    %ul
                      %li
                        - c.skills.each do |s| 
                          %p.compet_pars_content= s.description

        