:javascript
    $(document).ready(function() {
        $(".owl-carousel").owlCarousel({
            autoPlay: 3000,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true
        });
    });
%div.whole
    %div.left
        %br/
        %h1 Вітаємо Вас на нашому сайті!
        %h2 У нас ви можете знайти:
        %div.owl-carousel{:style => "text-align:center;"}
            %div
                = image_tag "book", size: '250x250', :style=>"margin:-3px 20px 0 0"
                %h3 Найбільшу енциклопедію ІТ-професій України
            %div
                = image_tag "signpost", size: '250x250', :style=>"margin:-3px 20px 0 0"
                %h3 Методичні вказівки з вибору напрямку для професійного розвитку
            %div
                = image_tag "iq_test", size: '250x50', :style=>"margin:-3px 20px 0 0"
                = image_tag "eCF", size: '250x150', :style=>"margin:-3px 20px 0 0"
                %h3 Всеохоплюючі тести на різноманітні особистісні якості
                %h3 Тести на відповідність Ваших знань, умінь та навичок обраній професії
            %div
                = image_tag "f_webhost_choices", size: '250x250', :style=>"margin:-3px 20px 0 0"
                %h3 Індивідуальні дорожні карти для всіх професій, а також безпосередньо для Вас з урахуванням Вашого поточного рівня
            %div
                = image_tag "tree", size: '250x250', :style=>"margin:-3px 20px 0 0"
                %h3 Та багато інших матеріалів, які можуть значною мірою збільшити ефективність Вашого професійного 
        %br/
        
    %div.right
        %a{:href => "encyclopedia", :title => "Перегляд енциклопедії"}
            = image_tag "right"