%h1 Наші партнери
%table.partners
	%thead
	%tbody
		%tr
			%td
				.crop_partners
					= image_tag "partners", :style => "margin-left: -6px"
			%td.description
				%h1 
					%i Тетраедр
				%p
					Наш партнер з 2017 року. Сайту немає, але нормальні чуваки.
			%td
		%tr
			%td
			%td.description
				%h1 
					%i  Гексаедр
				%p
					Багато хто знає їх. Навіть школярі нерідко користуються їхніми послугами.
			%td
				.crop_partners
					= image_tag "partners", :style => "margin-left: -139px"
		%tr
			%td
				.crop_partners
					= image_tag "partners", :style => "margin-left: -270px"
			%td.description
				%h1 
					%i  Октаедр
				%p
					Не такі популярні, але все одно варто лише познайомитися з ними і багато хто лишається до кінця з ними.
			%td	
		%tr
			%td
			%td.description
				%h1 
					%i  Додекаедр
				%p
					Багатогранні такі, ключова фраза в них "давай п’ять!"
			%td
				.crop_partners
					= image_tag "partners", :style => "margin-left: -410px"		
		%tr
			%td
				.crop_partners
					= image_tag "partners", :style => "margin-left: -550px"
			%td.description
				%h1 
					%i  Ікосаедр
				%p
					Дуже багатогранні. Колись співпрацювали з Додекаедром. Кажуть, якщо їх об’єднати, то вони можуть покрити всю Землю!
			%td

				



