<li>
  <div class="field">
    <%= f.label "Зміст" %> <br/ >
    <%= f.text_field :text %>
    <%= f.check_box :correct %>
    <%= f.label "Правильна відповідь" %>
    <%= link_to_remove_field "Видалити", f %>
  </div>
</li>