<li>
  <div class="field">
    <%= f.label "Сформулюйте запитання"%> <br />
    <%= f.text_field :text %>
    <ul class="options">
      <%= f.fields_for :options do |builder| %>
          <%= render "option_fields", :f => builder %>
      <% end -%>
    </ul>
    <%= link_to_add_field "Додати відповідь", f, :options %>
    <br/ >
    <%= link_to_remove_field "Видалити питання", f %>
  </div>
</li>