= form_for @feedback  do |f|
  %h1 Зворотній зв’язок

  %h3 Ви можете залитиши свого листа, на який ми відповімо так швидко, як тільки зможемо. Для цього заповніть форму знизу: 

  .form_feedback 
    %div Ім’я: 
    - if session[:user_id]
      = f.text_field :name, :value =>  current_user.name
    - else 
      = f.text_field :name, class: @feedback.errors[:name].any? ? "error_input" : ""


    %div Електрона пошта:
    - if session[:user_id]
      = f.text_field :email, :value =>  current_user.email
    - else 
      = f.text_field :email, class: @feedback.errors[:email].any? ? "error_input" : ""
      - if @feedback.errors.messages.values_at(:email).include?(["@"])
        .error_message Введено невірний імейл.

    %div Вміст:
    = f.text_area :content, class: @feedback.errors[:content].any? ? "error_input" : ""

    - if @feedback.errors.messages.values_at(:email, :name, :content).include?(["не може бути порожнім"])
      .error_message (Всі поля мають бути заповнені)
    %div
      = f.submit "Додати"