/ %p#notice= notice
%h1 Відгуки користувачів
%table.feddb_table{:style => "width:100%"}
  %tbody
    - feedbacks.each do |feedback|
      %tr
        %th Ім’я:
        %td= feedback.name
        %td.creation_time_feedb{:rowspan => "3"}
          = l feedback.created_at, format: "%a %d %b %H:%M"
      %tr
        %th E-mail:
        %td= feedback.email
      %tr
        %th Зміст:
        %td= feedback.content
/        %td= link_to 'Видалити', feedback, method: :delete, data: { confirm: 'Ви впевнені?' }
%div{:style => "position: absolute; bottom: 0; margin: 0 auto; width: 55%; bottom: 40px;"}
  = paginate feedbacks