<h1>New Feedback</h1>

<%= form_for @feedback  do |f|%>
	<%= f.text_field :name %>
	<%= f.email_field :email %>
	<%= f.text_area :content %>
	<%= f.submit "Додати" %>
<% end %>

# <%= render 'form' %>

# <%= link_to 'Back', feedbacks_path %>
